@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Oleo+Script:wght@400;700&family=Playwrite+AU+VIC+Guides&family=Rubik+Glitch+Pop&family=Sixtyfour&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.rotate-hover-reverse-180:hover {
  transition: transform 0.3s ease;
  transform: rotate(-180deg) !important;
  cursor: pointer;
}

.rotate-hover-reverse-380:hover {
  transition: transform 0.3s ease;
  transform: rotate(380deg) !important;
  cursor: pointer;
}

.rotate-180 {
  transform: rotate(180deg) !important;
}

.uppercase {
  text-transform: uppercase;
}

.fs-40 {
  font-size: 40px;
}

.fs-80 {
  font-size: 80px;
}

.border-top {
  border-top: 16px solid black !important;
}

.border-bottom {
  border-bottom: 16px solid black !important;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-white {
  border: 6px solid white !important;
}

.bg-canary-yellow {
    background-color: #F5EE3C;
}

.bg-orchid-purple {
  background-color: #CB6AC6;
}

.bg-orange {
  background-color: orange;
}

.bg-white {
  background-color: #fff;
}

.color-canary-yellow {
  color: #F5EE3C;
}

.color-orchid-purple {
  color: #CB6AC6;
}

.color-dark-cyan {
  color: #228694;
}

.color-lime-green {
  color: #48EA21;
}

.color-orange {
  color: orange;
}

.rounded {
  border-radius: 50%;
}


/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  background-color: #89BE97;
  color: #DB2E83;
  font-family: "Playwrite AU VIC Guides", serif;
  text-transform: uppercase;
}

.didILetter {
  background-color: #246686;
  color: #ffff;
  font-family: "Comic Neue", serif;
  font-weight: 700;
  text-transform: uppercase;
}

.didDTwoLetter {
  background-color: #DCB5B5;
  font-family: 'Ceviche One', sans-serif;
}

.didDLetter, 
.didILetter,
.didDTwoLetter
 {
  border-radius: 5px;
}

/* THE word */

.theTLetter {
  font-weight: 900;
  text-transform: uppercase;
}

.theHLetter {
  background-color: #24B9DB;
}

.theELetter {
  background-color: #000;
  color: transparent;
  cursor: pointer;
}

.theELetter:hover {
  color: #FFF;
  font-size: 90px;
}

/* FRONT-END word */

.frontendFLetter {
  background-color: #f53c3c;
  font-family: "Rubik Glitch Pop", serif;
  color: #000;
}

.frontendRLetter {
  background-color: #9993C5;
  color: #6A7A67;
}

.frontendOLetter {
  font-family: 'Ceviche One', sans-serif;
  background-color: #9E8103;
}

.frontendNLetter {
  font-family: "Sixtyfour", serif;
}

.frontendTLetter {
  background-color: #fff;
}

.frontendTLetter:hover {
  color: #000;
}

.frontendELetter {
  background-color: #F79F0A;
  color: #D16336;
}

.frontendNTwoLetter {
  background-color: #CB6AC6;
  color: #228694;
}

.frontendDLetter {
  background-color: #9A592A;
  text-decoration: line-through;
}

/* DEVELOPER word */

.developerDLetter {
  font-family: "Playwrite AU VIC Guides", serif;
  color: #CB6AC6;
  background-color: #F3A648;
}
.developerELetter {
  background-color: #9A592A;
  text-decoration: underline;
}

.developerVLetter {
  background-color: #fff;
  color: #000;
}
.developerETwoLetter {
  text-decoration: overline;
  background-color: #938FA0;
}
.developerLLetter {
  font-family: "Sixtyfour", serif;
  background-color: #FF3D7F;
  color: #FF9E9D;
}
.developerOLetter {
  font-family: 'Ceviche One', sans-serif;
  background-color: rgb(158, 129, 3);
}
.developerPLetter {
  color: greenyellow
}
.developerEThreeLetter {
  color: #000;
  background-color: #99B898;
}
.developerRLetter {
  background-color: #E84A5F;
  color: #2A363B;
}

/* TAKE word */

.takeTLetter {
  background-color: #FECEA8;
  color: #FF847C;
  border: 6px solid #E84A5F !important;
}
.takeALetter {
  background-color: #24B9DB;
}
.takeKLetter {
  font-weight: bold;
  font-family: 'Piazolla', sans-serif;
}
.takeELetter {
  text-decoration: none;
}

/* UP word */

.upULetter {
  font-family: "Oleo Script", serif;
  font-weight: 400;
}
.upPLetter {
  font-weight: 700;
  
}

/* GARDENING word */

.gardeningGLetter {
  font-family: "Sixtyfour", serif;
}
.gardeningALetter {
  font-family: "Oleo Script", serif;
}
.gardeningRLetter {
  text-decoration: green wavy underline;
}
.gardeningDLetter {
  text-decoration: overline red;
}
.gardeningELetter {
  background-color: #000;
  font-family: 'Raleway Dots', sans-serif;
  color: #fff;
}
.gardeningNLetter {
  font-family: "Sixtyfour", serif;
}
.gardeningILetter {
  background-color: #938FA0;
  font-weight: 700;
  font-size: 30px;
}
.gardeningNTwoLetter {
  background-color: green;
}
.gardeningGTwoLetter {
  background-color: #48EA21;
}

/* BECAUSE word */

.becauseBLetter {
  font-family: "Rubik Glitch Pop", serif;
  background-color: #000;
}
.becauseELetter {
  text-decoration: underline yellow;
  background-color: #3A3132;
}
.becauseCLetter {
  text-transform: capitalize;
}
.becauseALetter {
  background-color: blue;
  font-family: "Oleo Script", serif;
}
.becauseULetter {
  background-color: #2A363B;
}
.becauseSLetter {
  background-color: beige;
  color: #000;
  font-family: "Oleo Script", serif;
}
.becauseETwoLetter {
  text-decoration: overline pink;
}

/* THEY word */

.theyTLetter {
  background-color: #000;
}
.theyHLetter {
  background-color: white;
  color: #000;
}
.theyELetter {
  background-color: gray;
}
.theyYLetter {
}

/* WANTED word */

.wantedWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  font-family: 'Piazolla', sans-serif;
  background-color: #fff;
}
.wantedALetter {
  font-family: "Oleo Script", serif;
  background-color: #48EA21;
  text-decoration: overline;
}
.wantedNLetter {
  font-family: 'Piazolla', sans-serif;
  text-decoration: underline;
}
.wantedTLetter {
  font-family: "Comic Neue", serif;
  font-weight: 700;
  font-style: normal;
}
.wantedELetter {
  font-family: "Sixtyfour", serif;
}
.wantedDLetter {
  background-color: brown;
  font-family: "Oleo Script", serif;
}

/* TO word */

.toTLetter {
  background-color: #000;
}
.toOLetter {
  background-color: burlywood;
}

/* IMPROVE word */

.improveILetter {
  font-family: "Oleo Script", serif;
}
.improveMLetter {
  font-family: 'Piazolla', sans-serif;
  font-weight: bold;
  background-color: #F1DD95;
}
.improvePLetter {
  font-family: "Oleo Script", serif;
  background-color: #000;
}
.improveRLetter {
  font-family: "Sixtyfour", serif;
  font-size: 50px;
  border: 6px solid red !important;
}
.improveOLetter {
  color: #000;
  border: 10px solid white !important;
}
.improveVLetter {
  background-color: #B3745A;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 60px;
}
.improveELetter {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 60px;
}

/* THEIR word */

.theirTLetter {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 10px solid rgb(3, 158, 57) !important;
  font-style: italic;
  font-size: 70px;
}
.theirHLetter {
  border-bottom-right-radius: 25px;
  font-family: "Sixtyfour", serif;
  font-size: 35px;
  background-color: #1FF205;
}
.theirELetter {
  font-family: "Sixtyfour", serif;
  border: 10px solid yellow !important;
  background-color: #000;
}
.theirILetter {
  background-color: #E46458;
  font-size: 35px;
}
.theirRLetter {
  background-color: #5A617B;
}

/* ROOT word */

.rootRLetter {
  background-color: #021C35;
  border: 10px solid #4C7080 !important;
  color: yellow;

}
.rootOLetter {
  background-color: #225D4B;
  border: 10px solid #4B6252 !important;
  color: red;
}
.rootOTwoLetter {
  background-color: #4B6252;
  border: 10px solid #021C35 !important;
  color: #1FF205;
}
.rootTLetter {
  background-color: #4C7080;
  border: 10px solid #225D4B !important;
  color: #DB2E83;
}

/* SKILLS word */

.skillsSLetter {
  background-color: #EBFD1C;
  border: 6px solid #225D4B !important;
  color: #000;
}
.skillsKLetter {
  background-color: #8E9811;
  border: 6px solid #fff !important;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 45px;
  color: red;
}
.skillsILetter {
  background-color: #6A720C;
  color: yellow;
}
.skillsLLetter {
  background-color: #36720C;
}
.skillsLTwoLetter {
  background-color: #35939A;
  color:#000
}
.skillsSTwoLetter {
  background-color: #EBFD1C;
  color: #000;
}

/* SYMBOLS */

.hyphen {
  background-color: #3A3132;
  color: #D16336;
}
.exclamation-mark {
  background-color: red;
}
.question-mark {
  background-color: red;
  font-weight: 700;
}
